# build output
dist/
release-assets/**/*.deb
release-assets/**/*.rpm
release-assets/**/*.exe
release-assets/**/*.dmg
release-assets/**/*.msi
release-assets/**/*.zip
release-assets/**/*.AppImage
# generated types
.astro/
# dependencies
node_modules/
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# environment variables
.env
.env.production
# macOS
.DS_Store
